body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #F6F6F6;
  color: rgb(75, 75, 75);
  font-size: 1.2rem;
}
#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#root div{
  border-radius: 10px;
  flex-basis: 24%;
  margin: 1rem 0rem 1rem 0rem;
  background-color:#FFFFFF ;
  margin: 2rem;
  box-shadow: -2px 1px 10px #cccccc ;
}

#root div h3{
  text-align: center;
  padding: 0.8rem;
}

#root div img{
  display: block;
  margin: auto;
}

#root div p{
  padding: 1.2rem;
}
.search{
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0% 0% 9%;
}
input{
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 10px;
  margin-right: 2rem;
}
input:focus{
  border: none;
  outline: none;
}